<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ssaesak">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />




    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ssaesak"
        tools:targetApi="31">

        <activity
            android:name=".Main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.ssaesak.Main.MypageActivity"/>
        <activity android:name="com.example.ssaesak.Main.MypageUseActivity"/>
        <activity android:name="com.example.ssaesak.Main.MypagePrivacyActivity"/>
        <activity android:name="com.example.ssaesak.Main.MypageActivityHistory"/>
        <activity android:name="com.example.ssaesak.Main.MypageApplyStatusActivity"/>
        <activity android:name="com.example.ssaesak.Main.MypageActivityHistoryActivity"/>
        <activity android:name="com.example.ssaesak.Main.MypageUpdateWorker"/>
        <activity android:name="com.example.ssaesak.Main.MypageUpdateFarmer"/>
<!--        <activity android:name="com.example.ssaesak.Main.MypageActivityHistoryComment"/>-->
        <activity android:name="com.example.ssaesak.Main.AgricultureTechActivity"/>
        <activity android:name="com.example.ssaesak.Main.UpdateWorkerPositionActivity"/>
        <activity android:name="com.example.ssaesak.Main.UpdateWorkerPayActivity"/>
        <activity android:name="com.example.ssaesak.Main.UpdateWorkerAgricultureActivity"/>
        <activity android:name="com.example.ssaesak.Main.UpdateWorkerCropActivity"/>

        <activity android:name="com.example.ssaesak.Working.WorkingWorkerActivity"/>
        <activity android:name="com.example.ssaesak.Working.NoticeDetailActivity"/>
        <activity android:name="com.example.ssaesak.Working.ResumeActivity"/>
        <activity android:name="com.example.ssaesak.Working.WorkingFarmerActivity"/>
        <activity android:name="com.example.ssaesak.Working.CreateWorkNoticeActivity"/>



        <activity android:name="com.example.ssaesak.Board.BoardActivity"/>

        <activity android:name="com.example.ssaesak.Farmgroup.FarmgroupActivity"/>
        <activity android:name="com.example.ssaesak.Farmgroup.FarmgroupNullActivity"/>
        <activity android:name="com.example.ssaesak.Farmgroup.FarmgroupReview"/>
        <activity android:name="com.example.ssaesak.Farmgroup.PopupExit" android:theme="@android:style/Theme.Dialog"/>

        <activity android:name="com.example.ssaesak.Study.StudyActivity"/>
        <activity android:name="com.example.ssaesak.Study.EssentialStudyActivity"/>
        <activity android:name="com.example.ssaesak.Study.CropStudyActivity"/>
        <activity android:name="com.example.ssaesak.Study.AgricultureStudyActivity"/>
        <activity android:name="com.example.ssaesak.Study.EssentialVideoActivity"/>

        <activity android:name="com.example.ssaesak.Login.LoginActivity"/>
        <activity android:name="com.example.ssaesak.Login.SignupTypeActivity"/>
        <activity android:name="com.example.ssaesak.Login.SignupNameActivity"/>
        <activity android:name="com.example.ssaesak.Login.SignupProfileActivity"/>
        <activity android:name="com.example.ssaesak.Login.SignupPhoneActivity"/>
        <activity android:name="com.example.ssaesak.Login.SignupWorkerPositionActivity"/>
        <activity android:name="com.example.ssaesak.Login.SignupWorkerCropActivity"/>
        <activity android:name="com.example.ssaesak.Login.SignupWorkerAgricultureActivity"/>
        <activity android:name="com.example.ssaesak.Login.SignupWorkerPayActivity"/>
        <activity android:name="com.example.ssaesak.Login.SignupFarmerActivity"/>
        <activity android:name="com.example.ssaesak.Login.SignupFarmerAgricultureActivity"/>
        <activity android:name="com.example.ssaesak.Login.SignupFarmerCropActivity"/>
        <activity android:name="com.example.ssaesak.Login.SignupFarmerPayActivity"/>
        <activity android:name=".Board.BoardDetailActivity"/>
        <activity android:name=".Board.BoardPostActivity"/>
        <activity android:name=".Study.SmartPolicyActivity"/>
        <activity android:name=".Study.AgriculturePolicyActivity"/>

<!--        <activity android:name="com.example.ssaesak.Farmgroup.FarmgroupSidebar"/>-->

        <activity
            android:name=".Farmgroup.FarmgroupSidebar"
            android:label="농장그룹 사이드바 카카오맵 연결"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="kakaomap" android:host="open"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data android:host="oauth"
                    android:scheme="kakao4caf1a2e579000e6cd8d530264db7aed" />
            </intent-filter>
        </activity>

<!--        <activity android:name="com.colorful.colorful_android.Home.HomeMainDialog"/>-->
<!--        <activity android:name="com.colorful.colorful_android.Home.PopupTourSpotPalette" android:theme="@android:style/Theme.Dialog"/>-->




    <meta-data android:name="com.kakao.sdk.AppKey" android:value="4caf1a2e579000e6cd8d530264db7aed" />
    </application>


</manifest>